/* 전체 레이아웃을 잡는 박스 */
.main-box {
    text-align: center; 
    width: 800px; 
    margin: 0 auto; 
    background-color: #f0f0f0; 
}

h1.line {
    /* width를 100%로 주거나 지우면 부모(main-box)에 맞춰집니다 */
    width: 100%; 
    height: 100px;
    border: 5px solid blueviolet;
    /* 텍스트 세로 중앙 정렬을 위해 line-height 추가 */
    line-height: 100px; 
}

.inp {
    width: 500px;
}